//- 基本情報
- var site_title = ''
- var site_description = ''
- var site_keywords = ''

//- ページ設定
- var site_lang = 'ja'
- var site_charset = 'utf-8'

//- ogp設定
- var site_ogp_enable = false
- var site_ogp_title = site_title
- var site_ogp_description = site_description

//- グローバルcss
- var site_global_css = ['css/reset.css', 'css/common.css']

//- グローバルjs
- var site_global_js = ['js/common.js']